
<div id="" class="wrapper wrapper-content">
    <div class="col-lg-12">
        <div class="ibox  border-left-right border-bottom">
            <div class="ibox-title">                
                <h5>Limity</h5>
            </div>
            <div class="ibox-content" >
                <a href="/NowyLimit" class="btn btn-sm btn-primary pull-right m-t-none"><i class="fa fa fa-plus"></i> Dodaj limit</a>
                {{Grid}}
            </div>            
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#table-datatable-limit-list_wrapper th").attr("role", "columnheader");
    });
    $(document).on('init.dt', function () {
        $("#table-datatable-limit-list_wrapper tbody tr").removeAttr("role");
    });
</script>