<div id="" class="wrapper wrapper-content">
    <div class="col-lg-12">
        <div class="ibox  border-left-right border-bottom">
            <div class="ibox-title">
                <h5>Powiadomienia o dostępności towarów.</h5>
            </div>
            <div class="ibox-content">
                {{NotificationGrid}}
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#table-datatable-notification-list_wrapper th").attr("role", "columnheader");
    });
    $(document).on('init.dt', function () {
        $("#table-datatable-notification-list_wrapper tbody tr").removeAttr("role");
    });
</script>